@model Clients.Models.Client

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>Client</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.SurName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.SurName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.SecondName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.SecondName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DOB)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DOB)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Gender)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Gender)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Number)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Number)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Series)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Series)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.PassportID)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PassportID)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.IssueDate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.IssueDate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.IssueAuthority)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.IssueAuthority)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.BirthPlace)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.BirthPlace)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ResidenceCityID)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ResidenceCityID)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Residence)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Residence)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ActualCity)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ActualCity)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ActualAddress)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ActualAddress)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PhoneNumber)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.HomePhoneNumber)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.HomePhoneNumber)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Job)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Job)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Position)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Position)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.FamilyPositionID)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.FamilyPositionID)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.NationalityID)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.NationalityID)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DisabilityID)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DisabilityID)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Pensioner)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Pensioner)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Income)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Income)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Reservist)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Reservist)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</body>
</html>
