@model IEnumerable<Clients.Models.Client>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SurName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SecondName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DOB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Series)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PassportID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IssueDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IssueAuthority)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirthPlace)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResidenceCityID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Residence)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActualCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActualAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HomePhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Job)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Position)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FamilyPositionID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NationalityID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DisabilityID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pensioner)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Income)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reservist)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SurName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SecondName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DOB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Series)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PassportID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IssueDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IssueAuthority)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthPlace)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResidenceCityID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Residence)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActualCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActualAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HomePhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Job)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Position)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FamilyPositionID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NationalityID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DisabilityID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pensioner)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Income)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reservist)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.ClientID }) |
                @Html.ActionLink("Details", "Details", new { id=item.ClientID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.ClientID })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
