@{
    ViewBag.Title = "Home Page";
}
@Scripts.Render("~/Scripts/jquery-3.3.1.min.js")
@Scripts.Render("~/Scripts/semantic.min.js")
@Scripts.Render("~/Content/dropdown.min.js")
@Styles.Render("~/Content/semantic.css")
@Styles.Render("~/Content/dropdown.min.css")
<div class="mainForm"style="margin-top:6%">

    <form class="ui form">
        <div class="required field">
            <label>Фамилия</label>
            <input type="text" placeholder="Фамилия">
        </div>

        <div class="required field">
            <label>Полное имя</label>
            <input type="text" placeholder="Полное имя" runat=server id=txtName>
        </div>

        <div class="required field">
            <label>Отчество</label>
            <input type="text" placeholder="Отчество">
        </div>

        <div class="required field">
            <label>Дата Рождения</label>
            <input type="text" placeholder="Дата Рождения">
        </div>

        <div class="required grouped fields">
            <label>Пол</label>
            <div class="field">
                <div class="ui slider checkbox">
                    <input type="radio" name="throughput" checked="checked">
                    <label>Мужской</label>
                </div>
            </div>
            <div class="field">
                <div class="ui slider checkbox">
                    <input type="radio" name="throughput">
                    <label>Женский</label>
                </div>
            </div>
        </div>

        <div class="required field">
            <label>Серия паспорта</label>
            <input type="text" placeholder="Серия паспорта">
        </div>

        <div class="required field">
            <label>Идент. номер</label>
            <input type="text" placeholder="Идент. номер">
        </div>

        <div class="required field">
            <label>№ паспорта</label>
            <input type="text" placeholder="№ паспорта">
        </div>

        <div class="required field">
            <label>Кем выдан</label>
            <input type="text" placeholder="Кем выдан">
        </div>

        <div class="required field">
            <label>Дата выдачи</label>
            <input type="text" placeholder="Дата выдачи">
        </div>

        <div class="required field">
            <label>Место рождения</label>
            <div class="ui selection dropdown ">
                <div class="text"></div>
                <i class="dropdown icon"></i>
            </div>
        </div>

        <div class="required field">
            <label>Город факт. проживания</label>
            <div class="ui selection dropdown ">
                <div class="text"></div>
                <i class="dropdown icon"></i>
            </div>
        </div>

        <div class="required field">
            <label>Адрес факт.проживания</label>
            <input type="text" placeholder="Адрес факт.проживания">
        </div>

        <div class="field">
            <label>Телефон домашний</label>
            <input type="text" placeholder="Телефон домашний">
        </div>

        <div class="field">
            <label>Телефон мобильный</label>
            <input type="text" placeholder="Телефон мобильный">
        </div>

        <div class="field">
            <label>E-mail</label>
            <input type="text" placeholder="E-mail">
        </div>

        <div class="field">
            <label>Место работы</label>
            <input type="text" placeholder="Место работы">
        </div>

        <div class="field">
            <label>Должность</label>
            <input type="text" placeholder="Должность">
        </div>

        <div class="required field">
            <label>Город прописки</label>
            <div class="ui selection dropdown ">
                <div class="text"></div>
                <i class="dropdown icon"></i>
            </div>

            <div class="required field">
                <label>Адрес прописки</label>
                <input type="text" placeholder="Адрес прописки">
            </div>

            <div class="required field">
                <label>Семейное положение</label>
                <div class="ui selection dropdown position">
                    <div class="text"></div>
                    <i class="dropdown icon"></i>
                </div>
            </div>

            <div class="required field">
                <label>Гражданство</label>
                <input type="text" placeholder="Гражданство">
            </div>

            <div class="required field">
                <label>Инвалидность</label>
                <div class="ui selection dropdown disabilities">
                    <div class="text"></div>
                    <i class="dropdown icon"></i>
                </div>
            </div>

            <div class="required field">
                <div class="ui checkbox">
                    <input type="checkbox">
                    <label>Пенсионер</label>
                </div>
            </div>

            <div class="field">
                <label>Ежемесячный доход</label>
                <input type="text" placeholder="Ежемесячный доход">
            </div>

            <div class="required field">
                <div class="ui checkbox">
                    <input type="checkbox">
                    <label>Военнообязанный</label>
                </div>
            </div>
        </div>
    </form>

</div>


    <script>
        $('.ui.dropdown').dropdown({
            apiSettings: {
                url: 'Home/getCities'
            }
        
        });

        $('.ui.dropdown.position').dropdown({
            apiSettings: {
                url: 'Home/getFamilyPosition'
            }

        });
        $('.ui.dropdown.disabilities').dropdown({
            apiSettings: {
                url: 'Home/getDisabilities'
            }

        });
        $('.field.example form')
            .form({
                on: 'blur',
                field: {
                    empty: {
                        identifier: 'empty',
                        rules: [
                            {
                                type: 'empty',
                                prompt: 'Please enter a value'
                            }
                        ]
                    }
            })
            ;
        $('.ui.checkbox').checkbox();
    </script>
