@{
    ViewBag.Title = "Home Page";
}
@Scripts.Render("~/Scripts/jquery-3.3.1.js")
@Scripts.Render("~/Scripts/semantic.min.js")
@Scripts.Render("~/Content/dropdown.min.js")
@Scripts.Render("~/Content/calendar.min.js")
@Styles.Render("~/Content/semantic.css")
@Styles.Render("~/Content/dropdown.min.css")
@Styles.Render("~/Content/calendar.min.css")
<div id="mainform" style="margin-top:6%">

    <form class="ui form" id="aza" onsubmit="return false;">
        <div class="required field">
            <label>Фамилия</label>
            <input name="SurName" type="text" placeholder="Фамилия">
        </div>

        <div class="required field">
            <label>Полное имя</label>
            <input type="text" placeholder="Полное имя" name="Name">
        </div>

        <div class="required field">
            <label>Отчество</label>
            <input type="text" placeholder="Отчество" name="SecondName">
        </div>

        <div class="required field">
            <label>Дата Рождения</label>
            <div class="ui calendar" id="DOB">
                <div class="ui input left icon">
                    <i class="calendar icon"></i>
                    <input type="text" placeholder="Date/Time" name="DOB">
                </div>
            </div>
        </div>

        <div class="required grouped fields">
            <label>Пол</label>
            <input type="hidden" >
            <div class="field">
                <div class="ui slider checkbox">
                    <input type="radio" name="Gender"  value="Male">
                    <label>Мужской</label>
                </div>
            </div>
            <div class="field">
                <div class="ui slider checkbox">
                    <input type="radio" name="Gender" value="Female">
                    <label>Женский</label>
                </div>
            </div>
        </div>

        <div class="required field">
            <label>Серия паспорта</label>
            <input type="text" placeholder="Серия паспорта" name="Series">
        </div>

        <div class="required field" id="passportNumber">
            <label>№ паспорта</label>
            <input type="text" placeholder="№ паспорта" name="Number" >
        </div>

        <div class="required field">
            <label>Кем выдан</label>
            <input type="text" placeholder="Кем выдан" name="IssueAuthority">
        </div>

        <div class="required field">
            <label>Дата выдачи</label>
            <div class="ui calendar" id="IssueDate">
                <div class="ui input left icon">
                    <i class="calendar icon"></i>
                    <input type="text" placeholder="Date/Time" name="IssueDate">
                </div>
            </div>
        </div>

        <div class="required field" id="passportID">
            <label>Идент. номер</label>
            <input type="text" placeholder="Идент. номер" name="PassportID">
        </div>


        <div class="required field">
            <label>Место рождения</label>
            <div class="ui selection dropdown" name="dropdown">
                <input type="hidden" name="BirthPlace">
                <div class="text"></div>
                <i class="dropdown icon"></i>
            </div>
        </div>

        <div class="required field">
            <label>Город факт. проживания</label>
            <div class="ui selection dropdown ">
                <input type="hidden" name="ActualCity">
                <div class="text"></div>
                <i class="dropdown icon"></i>
            </div>
        </div>

        <div class="required field">
            <label>Адрес факт.проживания</label>
            <input type="text" placeholder="Адрес факт.проживания" name="ActualAddress">
        </div>

        <div class="field">
            <label>Телефон домашний</label>
            <input type="text" placeholder="Телефон домашний" name="HomePhoneNumber">
        </div>

        <div class="field">
            <label>Телефон мобильный</label>
            <input type="text" placeholder="Телефон мобильный" name="PhoneNumber">
        </div>

        <div class="field">
            <label>E-mail</label>
            <input type="text" placeholder="E-mail" name="Email">
        </div>

        <div class="field">
            <label>Место работы</label>
            <input type="text" placeholder="Место работы" name="Job">
        </div>

        <div class="field">
            <label>Должность</label>
            <input type="text" placeholder="Должность" name="Position">
        </div>

        <div class="required field">
            <label>Город прописки</label>
            <div class="ui selection dropdown ">
                <input type="hidden" name="ResidenceCityID" >
                <div class="text"></div>
                <i class="dropdown icon"></i>
            </div>
        </div>
        <div class="required field">
            <label>Адрес прописки</label>
            <input type="text" placeholder="Адрес прописки" name="Residence">
        </div>

        <div class="required field">
            <label>Семейное положение</label>
            <div class="ui selection dropdown position">
                <input type="hidden" name="FamilyPositionID">
                <div class="text"></div>
                <i class="dropdown icon"></i>
            </div>
        </div>

        <div class="required field">
            <label>Гражданство</label>
            <div class="ui selection dropdown nationality">
                <input type="hidden" name="NationalityID">
                <div class="text"></div>
                <i class="dropdown icon"></i>
            </div>
        </div>

        <div class="required field" >
            <label>Инвалидность</label>
            <div class="ui selection dropdown disabilities" >
                <input type="hidden" name="DisabilityID">
                <div class="text" ></div>
                <i class="dropdown icon"></i>
            </div>
        </div>

        <div class="ui checkbox">
            <input type="checkbox" name="Pensioner">
            <label>Пенсионер</label>
        </div>

        <div class="field">
            <label>Ежемесячный доход</label>
            <input type="text" placeholder="Ежемесячный доход" name="Income">
        </div>
        <div>
            <div class="ui checkbox">
                <input type="checkbox" name="Reservist">
                <label>Военнообязанный</label>
            </div>
        </div>   


        <div class="ui submit button">Submit</div>

        <div class="ui error message" name="errorMsg"></div>
</form>
    <div class="ui error message" id="errors"></div>



</div>


<script>

    $('#DOB').calendar({
        type: 'date',
        firstDayOfWeek: 1,
        formatInput: false,
        text: {
            days: ['Вс', 'Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб'],
            months: ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'],
            monthsShort: ['Янв', 'Фев', 'Март', 'Апр', 'Май', 'Июнь', 'Июль', 'Авг', 'Сен', 'Окт', 'Ноя', 'Дек'],
            today: 'Сегодня'
        },
    }); 
    $('#IssueDate').calendar({
        type: 'date',
        firstDayOfWeek: 1,
        formatInput: false,
        text: {
            days: ['Вс', 'Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб'],
            months: ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'],
            monthsShort: ['Янв', 'Фев', 'Март', 'Апр', 'Май', 'Июнь', 'Июль', 'Авг', 'Сен', 'Окт', 'Ноя', 'Дек'],
            today: 'Сегодня'
        },
    });
    $('.ui.dropdown').dropdown({
        apiSettings: {
            url: '/Home/getCities'
        }

    });
    $('.ui.dropdown.position').dropdown({
        apiSettings: {
            url: '/Home/getFamilyPosition'
        }

    });
    $('.ui.dropdown.disabilities').dropdown({
        apiSettings: {
            url: '/Home/getDisabilities'
        }

    });
    $('.ui.dropdown.nationality').dropdown({
        apiSettings: {
            url: '/Home/getNationalitiy'
        }

    });
    $('#errors').hide();
    
    $('.ui.form')
        .form({

            on: 'blur',
            fields: {
                SurName: {
                    identifier: 'SurName',
                    rules: [
                        {
                            type: 'regExp[/^[А-Яа-я/-]{3,16}$/]',
                            prompt: 'Введите Фамилию (только кириллица или дефис, от 4 до 16 символов)',
                        }
                    ]
                },
                Name: {
                    identifier: 'Name',
                    rules: [
                        {
                            type: 'regExp[/^[А-Яа-я/-]{3,16}$/]',
                            prompt: 'Введите имя (только кириллица или дефис, от 4 до 16 символов)',
                        }
                    ]
                },
                SecondName: {
                    identifier: 'SecondName',
                    rules: [
                        {
                            type: 'regExp[/^[А-Яа-я/-]{3,16}$/]',
                            prompt: 'Введите Отчество (только кириллица или дефис, от 4 до 16 символов)'
                        }
                    ]
                },
                DOB: {
                    identifier: 'DOB',
                    rules: [
                        {
                            type: 'empty',
                            prompt: 'Введите дату рождения'
                        }
                    ]
                },
                Gender: {
                    identifier: 'Gender',
                    rules: [
                        {
                            type: 'checked',
                            prompt: 'Введите пол',
                        }
                    ]
                },
                Series: {
                    identifier: 'Series',
                    rules: [
                        {
                            type: 'regExp[/^[A-Z]{2}$/]',
                            prompt: 'Введите серию паспорта(2 символа латиницы)'
                        }
                    ]
                },
                Number: {
                    identifier: 'Number',
                    rules: [
                        {
                            type: 'regExp[/^[0-9]{7}$/]',
                            prompt: 'Введите номер паспорта(7 цифр)'
                        }
                    ]
                },
                IssueAuthority: {
                    identifier: 'IssueAuthority',
                    rules: [
                        {
                            type: 'empty',
                            prompt: 'Введите номер орган номер'
                        }
                    ]
                },
                IssueDate: {
                    identifier: 'IssueDate',
                    rules: [
                        {
                            type: 'empty',
                            prompt: 'Введите дату выдачи паспорта'
                        }
                    ]
                },
                PassportID: {
                    identifier: 'PassportID',
                    rules: [
                        {
                            type: 'regExp[/^[A-Z0-9]{14}$/]',
                            prompt: 'Введите идентификационный номер'
                        }
                    ]
                },
                BirthPlace: {
                    identifier: 'BirthPlace',
                    rules: [
                        {
                            type: 'empty',
                            prompt: 'Введите место рождения'
                        }
                    ]
                },
                ActualCity: {
                    identifier: 'ActualCity',
                    rules: [
                        {
                            type: 'empty',
                            prompt: 'Введите город фактического проживания'
                        }
                    ]
                },
                ActualAddress: {
                    identifier: 'ActualAddress',
                    rules: [
                        {
                            type: 'empty',
                            prompt: 'Введите адрес фактического проживания'
                        }
                    ]
                },
                PhoneNumber: {
                    identifier: 'PhoneNumber',
                    rules: [
                        {
                            type: 'regExp[/^([+]?[0-9]{12})?$/]',
                            prompt: 'Введите мобильный телефон вида "+375447570139"'
                        }
                    ]
                },
                HomePhoneNumber: {
                    identifier: 'HomePhoneNumber',
                    rules: [
                        {
                            type: 'regExp[/^([0-9]{5,12})?$/]',
                            prompt: 'Введите домашний номер телефона вида "365484"'
                        }
                    ]
                },
                Email: {
                    identifier: 'Email',
                    optional: true,
                    rules: [
                        {
                            type: 'email',
                            prompt: 'Введите корректный email'
                        }
                    ]
                },
                ResidenceCityID: {
                    identifier: 'ResidenceCityID',
                    rules: [
                        {
                            type: 'empty',
                            prompt: 'Введите город прописки'
                        }
                    ]
                },
                Residence: {
                    identifier: 'Residence',
                    rules: [
                        {
                            type: 'empty',
                            prompt: 'Введите адрес прописки'
                        }
                    ]
                },
                FamilyPositionID: {
                    identifier: 'FamilyPositionID',
                    rules: [
                        {
                            type: 'empty',
                            prompt: 'Введите семейное положение'
                        }
                    ]
                },
                NationalityID: {
                    identifier: 'NationalityID',
                    rules: [
                        {
                            type: 'empty',
                            prompt: 'Введите национальность'
                        }
                    ]
                },
               
  
                DisabilityID: {
                    identifier: 'DisabilityID',
                    rules: [
                        {
                            type: 'empty',
                            prompt: 'Введите значение в поле инвалидность'
                        }
                    ]
                }          
            },  
        });

    var $aza = $('#aza')
    $aza.form('set values', {
        SurName: 'Грамович',
        Name: 'Владислав',
        SecondName: 'Александрович',
        DOB: 'Февраль 15, 2018',
        Gender: '',
        Series: 'AB',
        Number: '2677302',
        PassportID: '12345678901234',
        IssueAuthority: 'pinskigovd',
        IssueDate: 'Февраль 15, 2018',
        ActualAddress: 'kedishko',
        Residence:'telephonnay'

        
    });

    $('#mainform .ui.button').on('click', function () {
        $mydata = $aza.form('get values');
        if ($aza.form('is valid')) {    
            $.ajax({
                type: 'POST',
                contentType: "application/json; charset=utf-8",
                url: '/home/saveClient',
                data: JSON.stringify($mydata),
                success: function (data) {

                    if (data.Success === true) {
                        location.reload();
                    }
                    else {
                        $('#errors').empty();
                        $('#errors').append("<ul><li>" + data.Errors + "</li></ul>");
                        $('#errors').show();
                        if (data.Errors == 'Пользователь с таким номером пасспорта существует') {
                            $('#passportNumber').addClass('error');
                        }
                        else {
                            $('#passportID').addClass('error');
                        }
                    }

                },

                async: true
            });
        }
    })

    $('.ui.checkbox').checkbox();
</script>
